@model NhaSachOnline
@model BookDislayModel
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Chào mừng anh em đến với channel Coding With Thinh</h1>
</div>

<div class="my-2">
  <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
      <label class="visually-hidden" for="theloaiID">
        Search
      </label>
      <div class="input-group">
        <input type="text" class="form-control" id="theloaiID" name="theloaiID" placeholder="Search" />
      </div>
    </div>

    <div class="col-12">
      <label class="visually-hidden" for="">
        Thể loại
      </label>
      <select class="form-select" aria-label="Default select example">
        <option selected>Thể loại ...</option>
        <option value="1">Fantasy</option>
        <option value="2">Kinh dị</option>
        <option value="3">Romance</option>
        <option value="4">Khoa học viễn tưởng</option>
      </select>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">
        Search
      </button>
      <a href="/Home/Index" class="btn btn-dark">Trở lại trang home</a>
    </div>

  </form>
</div>

@* <div class="w-100 mt-4 mb-5 d-flex flex-wrap justify-content-center">
  <div class="card mx-2 mb-4" style="width: 18rem;">
    <img src="~/img/doctor who - empire of the wolf.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Doctor Who</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
    </div>
  </div>

  <div class="card mx-2 mb-4" style="width: 18rem;">
    <img src="~/img/doctor who - once upon a time lord (bbc doctor who).jpg" />
    <div class="card-body">
      <h5 class="card-title">Doctor Who</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card mx-2 mb-4" style="width: 18rem;">
    <img src="~/img/doctor who - the eleventh doctor vol. 1 - after life.jpg" />
    <div class="card-body">
      <h5 class="card-title">Doctor Who</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card mx-2 mb-4" style="width: 18rem;">
    <img src="~/img/doctor who - the ninth doctor vol. 1 - weapons of past destruction.jpg" />
    <div class="card-body">
      <h5 class="card-title">Doctor Who</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> *@

<div class="w-100 mt-4 mb-5 d-flex flex-wrap justify-content-center">
  @* @for(int i = 1; i <= 8; i++)
  {
    <div class="card mx-2 mb-4" style="width: 16rem;">
      <img src="https://m.media-amazon.com/images/I/91147XjTc1L._SL1500_.jpg" class="card-img-top" alt="doctor-who" />
      <div class="card-body">
        <h5 class="card-title">Doctor Who</h5>
        <p class="card-text">Doctor Who: The Tenth Doctor 1: Revolutions of Terror</p>
        <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
      </div>
    </div>
  } *@
  
  @* <select>
    <option selected>Thể Loại</option>
    @foreach (var genre in Model.Genres)
    {
      <option selected="@(genre.Id == Model.GereId)" value="@genre.Id">@genre.GereName</option>
    }
  </select> *@
</div>